<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#d6d6d5;border:0;border-collapse:collapse;border-spacing:0" bgcolor="#d6d6d5">
    <tr>
    <td align="center">
    <!---->
    	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border:0;border-collapse:collapse;border-spacing:0;max-width:700px">
          <tr>
            <td bgcolor="#38B6B4">&nbsp;</td>
            <td bgcolor="#38B6B4">&nbsp;</td>
            <td bgcolor="#38B6B4">&nbsp;</td>
            <td bgcolor="#38B6B4">&nbsp;</td>
          </tr>
          <tr>
            <td width="3%" bgcolor="#FFFFFF">&nbsp;</td>
            <td width="84%" bgcolor="#FFFFFF" style="color:#000000;font-family:'ClanPro-Book','HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:20px;line-height:36px">
            <b>Recuperaci&oacute;n de Contrase&ntilde;a</b>
            </td>
            <td width="10%" bgcolor="#FFFFFF"><img src="http://pingshop.testingview.com/images/logo_correo.png" /></td>
            <td width="3%" bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF"><hr></hr></td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF"  style="color:#717172;font-family:'ClanPro-Book','HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:28px">
             <p>Hola :'.$nombre.'</p>
              <p>
              Recibimos una solicitud de cambio de contraseña. Para confirmar tu nueva contraseña haz click en el siguiente enlace:  
              </p>
              <p>
                <a href="http://www.epaplicaciones.com/recuperar/index/'.sha1($email[0]->id).'/'.sha1($nombre).'/'.sha1(date('Y-m-d H:i:s')).'">Haz click aqui. </a>
              </p>
              <p>Link activo por 24H</p>
              
              
              <p>  <strong>Nick:</strong>'.$email[0]->email.' </p>
              <p>
              Por favor, ignora este mensaje en el caso que no nos hayas enviado un cambio de contraseña de tu cuenta.</p>
            
            </td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF"><hr></hr></td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF" align="center">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF" align="center">
            	
            </td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF" style="color:#717172;font-family:'ClanPro-Book','HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:14px;line-height:28px">Si tienes alguna pregunta, responde a este correo o escríbenos a soporte@pingshop.com</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#000000">&nbsp;</td>
            <td colspan="2" bgcolor="#000000">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="86%">dd</td>
                <td width="3%">&nbsp;</td>
                <td width="3%">&nbsp;</td>
                <td width="4%">&nbsp;</td>
                <td width="4%">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="http://pingshop.testingview.com/images/logo_correo_blanco.png" /></td>
                <td align="center"><a href="#" target="_blank"><img src="http://pingshop.testingview.com/images/footer_social_facebook.png" border="0" width="10"></a></td>
                <td align="center"><a href="#" target="_blank"><img src="http://pingshop.testingview.com/images/footer_social_twitter.png" border="0" width="20"></a></td>
                <td align="center"><a href="#" target="_blank"><img src="http://pingshop.testingview.com/images/footer_social_instagram.png" border="0" width="20"></a></td>
                <td align="center"><a href="#" target="_blank"><img src="http://pingshop.testingview.com/images/footer_social_linkedin.png" border="0" width="20"></a></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>

            
            </td>
            <td bgcolor="#000000">&nbsp;</td>
          </tr>
        </table>

    <!---->    
    </td>
    </tr>
</table>




</div>  

